{% extends 'base.html.twig' %}

{% block title %}Nouveau pokemon - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nouveau Pokemon</h1>
    <hr>
    <div class="row">

    </div>
{% endblock %}
